/******************************************\
                $Imported Fonts
\******************************************/


/******************************************\
                $Imported Fonts
\******************************************/

@font-face {
    font-family: 'doctor_soos_boldbold';
    src: url('Dr_Soos_font-kit/doctor_soos_bold-webfont.woff2') format('woff2'),
           url('Dr_Soos _font-kit/doctor_soos_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
   font-family: 'doctor_soos_lightregular';
   src: url('Dr_Soos_font-kit/doctor_soos_light-webfont.woff2') format('woff2'),
          url('Dr_Soos_font-kit/doctor_soos_light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}



/******************************************\
                $CSS Reset
\******************************************/

/* basic elements */
body, html, section, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body
{
line-height: 1;
}

h1, h2, h3, h4, h5, h6
{
padding: .6em 0;
margin: 0 0;
}

ul, ol
{
list-style: none;
}

a
{
color: green;
text-decoration: none;
}

a:hover
{
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $Main
\******************************************/



html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/*   Pixel measurments are for mobile unless stated otherwise in an associated comment.   */

/***HomePage***/

.homePage {
    background: #5fd69f;
    width: 100%;
    height: 100%;
}

.headPicContainer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.headPic {
    width: 50%;
    height: auto;
}

/*.nameHeading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    color: white;
}*/

.nameHeading {
    width: 100%;
    text-align: center;
    font-family: 'doctor_soos_boldbold';
    font-size: 800%;
    color: white;
    padding: 0;
}

/*.titleHeading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    text-align: center;
}*/

.titleHeading {
    width: 100%;
    text-align: center;
    font-family: 'doctor_soos_lightregular';
    font-size: 250%;
}


/*** Menu ***/

.full-menu {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: white;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;  /* speed of transitions for this element: speed at which this menu gets to an opacity of 1, and turns green. */
    z-index: 2;   /* makes this menu topmost, so that nothing else is visible while it's open */
}

.full-menu--open {    /* makes ".full-menu" visible since this class and, as a result, this styling have been added to it by the javascript the moment the user clicks the hamburger icon. */
    visibility: visible;
    opacity: 1;
}

.full-menu--middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    margin-bottom: 8%;
}

.main-nav li:nth-child(3) {
    margin-bottom: 0;
}

.main-nav a {
    font-family: 'doctor_soos_lightregular';
    color: #5fd69f;
    font-weight: 400;
    font-size: 400%;
}


/*** Hamburger menu styles & animation ***/

.hamburger {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 30px;
    height: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;     /* This cursor into the little hand icon? */
    z-index: 2;  /* keeps hamburger "button" after full-screen menu is opened */
}

.hamburger span {
    display: block;   /* each span line is now on its own line so that they are stacked */
    position: absolute;
    height: 5px;   /* the heigh of each span line */
    width: 100%;   /* makes the lines take up the full widh of their container */
    background: white;    /* makes the red span lines */
    border-radius: 9px;    /* rounds the edges of span lines */
    opacity: 1;  /* makes sure all span lines are visible */
    left: 0;
    -webkit-transition: .25s ease-in-out;   /* defines time transition lasts for this element */
    -moz-transition: .25s ease-in-out;
    -o-trnasition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {   /* first span line */
    top: 0px;
    -webkit-transorm-origin: left center;  /* defines where the view is placed at the x & then Y axis */
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger span:nth-child(2) {  /* second span line */
    top: 10px;  /* starts 5px after 1st span line ends */
    -webkit-transform-origin: left center;
    -moz-transorm-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger span:nth-child(3) {  /* third span line */
    top: 20px;   /* starts 5px after 2nd span line ends */
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);   /* rotates 1st span line down, clockwise */
    top: -1px;    /* moves post-rotated span line along y-axis*/
    background: #5fd69f;
}

.hamburger.open span:nth-child(2) {  /* makes 2nd span line dissapear */
    width: 0%;
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);   /* rotates 3rd span line up, counter-clockwise */
    top: 20px;
    background: #5fd69f;
}



/*********************\
                $About
\*********************/

.aboutHeadingContainer {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutHeadingContainer h2 {
    font-family: 'doctor_soos_boldbold';
    color: #5fd69f;
    font-size: 420%;
}

.aboutParagraphContainer {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.aboutParagraphContainer p {
    font-family: 'doctor_soos_lightregular';
    font-size: 150%;
    line-height: 1.5em;
}



/*********************\
                $Work
\*********************/

.workHeadingContainer {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.workHeadingContainer h2 {
    font-family: 'doctor_soos_boldbold';
    color: #5fd69f;
    font-size: 420%;
}

.workThumbnails {
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.thumbnailBox {
    display: inline-block;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'doctor_soos_lightregular';
    font-size: 150%;
}

.thumbnailBox-1, .thumbnailBox-2, .thumbnailBox-3 {
    margin-bottom: 100px;
}

.workThumbnails img {
    width: 100%;
    margin-bottom: 30px;
    border: 3px solid #5fd69f;
}



/*********************\
                $Contact
\*********************/

.contactHeadingContainer {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactHeadingContainer h2 {
    font-family: 'doctor_soos_boldbold';
    color: #5fd69f;
    font-size: 420%;
}

.email {
    margin-top: 65px;
    width: 100%;
    text-align: center;
    font-family: 'doctor_soos_lightregular';
    font-size: 150%;
}

.iconContainer {
    margin-top: 200px;
    text-align: center;
    font-size: 300%;
}

.iconContainer i {
    color: #5fd69f;
}

.twitter {
    padding-right: 2%;
}

.github {
    padding-left: 2%;
}


/******************************************\
                $ Standard Media Querys
\******************************************/

/* width - media query -------------------------------------- */
@media(max-width: 1167px) {

    .nameHeading {
        font-size: 650%;
    }

    .titleHeading {
        font-size: 250%;
    }

}

/* width - media query -------------------------------------- */
@media(max-width: 850px) {
    .nameHeading {
        font-size: 600%;
    }
}

/* width - media query -------------------------------------- */
@media(max-width: 600px) {
    .titleHeading {
        font-size: 200%;
    }
}

/* width - media query -------------------------------------- */
@media(max-width: 411px) {

    .nameHeading {
        font-size: 450%;
    }

    .titleHeading {
        font-size: 150%;
    }


}

/******************************************\
                $ Work Section Querys
\******************************************/
/* width - media query -------------------------------------- */
@media(max-width: 910px) {
    .thumbnailBox {
        font-size: 120%;
    }
}

/* width - media query -------------------------------------- */
@media(max-width: 730px) {
    .thumbnailBox {
        display: block;
        width: 30%;
        padding-left: 10%;
        padding-right: 5%;
        float: left;
        margin-bottom: 100px;
    }

}




/******************************************\
                $ Double-Conditional Queries
\******************************************/

/*  Responsive @ W: 480px & H < 707px-------------------------------------- */
@media(min-width: 480px) and (max-height: 707px) {
    .headPicContainer {
        padding-top: 0;
    }
}

@media(min-width: 480px) and (max-height: 656px) {
    .headPicContainer {
        padding-top: 50px;
    }

    .nameHeading {
        font-size: 450%;
    }

    .titleHeading {
        font-size: 150%;
    }
}

@media(min-width: 480px) and (max-height: 564px) {
    .headPicContainer {
        padding-top: 0px;
    }

    .nameHeading {
        font-size: 450%;
    }

    .titleHeading {
        font-size: 150%;
    }
}

@media(min-width: 480px) and (max-height: 516px) {
    .headPicContainer {
        padding-top: 20px;
    }

    .headPic {
        width: 30%;
        height: 100%;
    }

    .nameHeading {
        font-size: 450%;
    }

    .titleHeading {
        font-size: 150%;
    }
}

@media(min-width: 480px) and (max-height: 428px) {
    .headPicContainer {
        padding-top: 20px;
    }

    .headPic {
        width: 20%;
        height: 100%;
    }

    .nameHeading {
        font-size: 350%;
    }

    .titleHeading {
        font-size: 150%;
    }
}

@media(min-width: 480px) and (max-height: 350px) {
    .headPicContainer {
        padding-top: 20px;
    }

    .headPic {
        width: 20%;
        height: 100%;
    }

    .nameHeading {
        font-size: 275%;
    }

    .titleHeading {
        font-size: 100%;
    }
}


/*  Responsive @ W: 320px & H < 624px-------------------------------------- */
@media(min-width: 320px) and (max-width: 479px) and (max-height: 624px) {
    .headPicContainer {
        padding-top: 35px;
    }

    .headPic {
        height: 100%;
    }

    .nameHeading {
        font-size: 350%;
    }
}

@media(min-width: 320px) and (max-width: 479px) and (max-height: 485px) {
    .headPicContainer {
        padding-top: 35px;
    }

    .headPic {
        height: 100%;
        width: 40%;
    }

    .nameHeading {
        font-size: 350%;
    }
}


/******************************************\
                $ Double-Specific Queries
\******************************************/

/*  Nexus 7-------------------------------------- */
@media(width: 600px) and (height: 960px) {
    .headPicContainer {
        padding-top: 150px;
    }
}

/*  ipad Mini-------------------------------------- */
@media(width: 768px) and (height: 1024px) {
    .headPicContainer {
        padding-top: 150px;
    }
}

/*  iphone 5-------------------------------------- */
@media(width: 320px) and (height: 568px) {
    .headPicContainer {
        padding-top: 100px;
    }
}
